#usuario-logueado {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-around;
    padding: 20px;
    list-style: none;
}

#detalle-logueado {
    background-color: #f9f9f9;
    border: 2px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(49, 186, 193, 0.3);
    width: 40%;
    padding: 1%;
    text-align: center;
    
}


#Boton-cerrar {
    border-radius: 10px;
    border-style: none;
    color:white;
    background-color: #999;
    justify-content: center;
    margin:2%;
    padding: 2%;
}

#Pagar-compras {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-around;
    padding: 20px;
    list-style: none;
}

#Detalle-pagar {
    background-color: #f9f9f9;
    border: 2px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(49, 186, 193, 0.3);
    width: 50%;
    padding: 20px;
    text-align: center;
    
}

#Pagar-compras img {
    width: 6%;
    margin-bottom: -4%;
    margin-right: 5%;
    padding: 1%;
}

#Pagar-compras h3 {
    margin: 3%;
}

#pagar-compras h4 {
    margin: 3%;
}

#Pagar-compras a {
    text-decoration: none;
}

#Pagar-compras #Boton-cancelar {
    border-radius: 10px;
    border-style: none;
    color:white;
    background-color: red;
    justify-content: center;
    margin:2%;
    padding: 2%;
}

#Pagar-compras #Boton-pagar {
    border-radius: 10px;
    border-style: none;
    color:white;
    background-color: darkgreen;
    justify-content: center;
    margin:2%;
    padding: 2% 6%;
}

